<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrients</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<style>
    body{
        background: #4DA0B0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D39D38, #4DA0B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    }
</style>
<body>
    <center>
    <form action="/upload_img" method="POST" enctype="multipart/form-data">
        <br><br>
        <div id="wrapper">
            <input type="file" name='foodimg' accept="image/*" onchange="preview_image(event)"><br>
            <img id="output_image" style="width: 50%;height: 50%;" />
        </div>
        <br>
        <button type="submit" class="btn btn-warning">Upload</button>
        <br><br>

    </form>

    {%if n%}
    <h1><p><b>Food Name : {{fooditem}}</b>
    </p>
    <p><b>Total Nutrients : {{n|int}}</b>
  </p>  </h1>
  


    <table class="table">
        <thead >
        <thead class="thead-dark">
            <tr>
                <th>sl.no</th>
                <th>Nutrient</th>
                <th>Value per 100g</th>

            </tr>
        </thead>
        <tbody>
        {%for i in range(0,n)%}
        <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{nlist[i]}}</td>
            <td>{{vlist[i]}}</td>

        </tr>
        {%endfor%}

</tbody>
    </table>
    {%endif%}
</center>
</body>
</html>